html{
    max-width:100%;
    height: 100vh;
}
body{
    width:100%;
    font-family: 'Open Sans',sans-serif;
    color: #666666;
    position: relative;
    margin:0;
    display: flex;
    flex-direction: column;
    max-width:100%;
}
.headertop{
    display: flex;
    background-color: #316dc3;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    
}
   
    
.headertopicons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0; */
    padding-top: 4px;
    width: 10%;
    padding-left: 0; 
    padding-right: 0;
}
    .heading{
text-align: center;

    
}
.row{
    margin-right: 0px!important;
    margin-left:0px!important;
}
.bt{
    min-width: 80px;
    text-align: center;
}
 @media screen and (max-width:730px) 
 {
    html{
        max-width:100%;
    }
    .row{
        margin-right: 0px!important;
        margin-left:0px!important;
    }
 

    .bottom-header ul li a{
        margin:0 2px !important;
        padding-right:0px !important;
        padding-left:0px !important;
        font-size:11px !important;
        text-align:center;
        
    }
    .bottom-header{
        padding:0px;
        margin:0px;
    }
    .bottom-header ul{
        margin-right: 0px;
        margin-left:0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
   }
    


.text-white{
    color:white;
}
.up{
    position:sticky;
    float:right;
    top:500px;
    left:20px;
    z-index:2;
}
.up:hover{
    opacity: 0.5;
}
.notification{
    margin: 0 100px;
    padding-bottom: 10px; 
    background-color: #316dc3; 
    clear:both;
}
.introduction{
    margin-top: 15px;
    text-align: justify;
    line-height: 1.9;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-color: green;
}

.list-inline{
    padding-left: 0;
    margin-left: -5px;
}


.box-shadow11{
    box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    min-width: 300px;
}
.widget ul li{
    padding-bottom: 5px;
    font-size: 14px;
}
.fact{
    padding:0;
    transition: all 0.5s ease;
    max-width: 290px;
}
.top-bottom{
    margin-top: 0px;
    padding-top: 0px;
}

.bottom-header{
    
    position: sticky;
    position:-webkit-sticky;    
    top:0;
    right:0;
    left:0;
    bottom: auto;
    background-color: white;
z-index: 2;
display: flex;
height: 75px;
justify-content: space-around;
padding: 0 15px;
align-items: center;
}
.maxheight{
    max-height: 55px;
}
.paddingtop14{
    padding-top: 14px;
}
.selectednav{
    border: 1px solid #316dc3 !important;
              background-color: #316dc3 !important;
              border-radius:10px !important;
}
.fact h2 {

    position: relative;
    margin-bottom: 20px;
font-size: 3rem !important;
margin-bottom:10px;

}
h5{
    font-size: 14px;
    margin-top:20px;
}

li{
    list-style: none;
}

li a{
    margin-left: 10px;
    padding:0px;
    text-decoration: none;
    color: black;
    font-size:16px;
}
.bottom-header ul li a {
margin-left:16px;
    font-size:12px;
    border:1px solid transparent;
    background-color: white;
   border-radius:10px;
   padding:3px;
   text-align:center;
   font-weight:600;

}
.bottom-header ul li a:hover{
    animation-name: background-color;
    animation-duration:2s;
    animation-fill-mode: forwards;
   animation-timing-function: linear;
    background-color:#316DC3;
    color: black;
    text-decoration: none;
}

@keyframes background-color{
    25%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.8;
    }

    
        
    100%{
       opacity: 1;
    }
}
.header-image{
    background-repeat: no-repeat;
    
    height:79%;
    background-position:center center;
    background-position: cover;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
}


.font-15{
    font-size: 18px !important;
}


input {
    font-size: 10px;
}
h2{
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif !important;
    font-family: 'Merriweather', serif;
}
.icon{
    margin:0 auto;
    text-align:center;
    position: relative;
}
.icon::before{
    content: "";
    height: 2px;
    position: absolute;
    left:44%;
    top: 30px;
    width: 36px;
    background-color: yellowgreen;


}
.bg-silver-light{
    background-color:#f7f8fa;
}
.icon-box a {
    margin-right: 30px;
    padding:0;
    margin-top: 0;
}
.media-body{
    display: table;
   vertical-align: top;
    

}
.media-body h4,h3{
    padding-top:4px;

    font-family: 'Merriweather', serif !important;
    font-weight: 600;
    line-height: 1.42857143;
    color: #316DC3;
    

}
h3{
    font-size: 24px;
}
.line-bottom{
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 10px;
        position: relative;
}
.line-bottom:after{
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    color:green;
    margin-top: 3px;
    border-bottom: 2px solid green;
    z-index: 2;

}
.left{
    text-align:left;
}
.fa-twitter,.fa-facebook,.fa-instagram,.fa-linkedin,.fa-youtube,.fa-google-plus{
    background-color: transparent;
}

.border-1px{
    border:1px solid #eeeeee !important;
}
.p-1{
    padding:15px !important;
}
.widget h5{
    font-size: 16px;
    color:white !important;
    font-family:'Merriweather', serif !important;
    font-weight: 600;
}
.mb-2{
    margin-bottom:20px !important;
}
.icon::after{
    content: "";
    height: 2px;
    position: absolute;
    right:44%;
    top: 30px;
    width: 36px;
    background-color: yellowgreen;


}
h4{
    font-size: 18px;
}

